

*{
    margin: 0;
}

.main_title{
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    color: rgb(89, 23, 151);
    font-size: 2em;
   
}


.inactive{
    display: none;
}



main{
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 3fr 1fr;
   
}

.main_div{
    grid-column: 2;
}
.browser{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.browser_tab{
   width: 100%;
   background-color:#E6E6FA ;
   border: none;
   border-radius: 6px;
   outline: none;
   
}
.lupa{
    display: grid;
    grid-column: 2;
    background-color: blueviolet;
    cursor:pointer;
    border: none;
    border-top-right-radius:6px ;    
    border-bottom-right-radius:6px ; 
    border-color: blueviolet;
    object-fit: contain;
}
.lupa img{
 height: 5vh;
 width: 4vw; 
place-self: center ;
object-fit: contain;
 
}

.second_title{
    
    margin-top: 3vh;
    display: grid;
grid-template-columns: 1fr 1fr;

}
.Trending{
    font-size: 1.5em;
}
.second_title p {
    font-family: 'Mukta', sans-serif;
    color: rgb(89, 23, 151);
    font-weight: bolder;
    
    
}

.second_title2 p{

    font-family: 'Mukta', sans-serif;
    color: rgb(89, 23, 151);
    font-weight: bolder;
    grid-column-start: 1;
    grid-column-end: 3;
}


.button-79 {
  backface-visibility: hidden;
  background: #782cf2;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
 
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-79:disabled {
  color: #787878;
  cursor: auto;
}

.button-79:not(:disabled):hover {
  transform: scale(1.05);
}

.button-79:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-79:focus {
  outline: 0 solid transparent;
}

.button-79:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-79:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-79:not(:disabled):active {
  transform: translateY(.125rem);
}

.second_title button p{
   color: white;
   outline: none;
   font-weight: lighter;
   text-align: center;
   
}
.film-container{
    position: relative;
    margin-top: 5vh;
   
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 60vw;
    grid-auto-flow: column;
    overflow-x: scroll;
    
    
}

.film-container img {
    position: relative;
    cursor:pointer;
    margin-right: 15px;
    width: 15vw;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.film-container img:hover{
    transform: scale(1.1,1.1);
}

.film-container2{
    margin-top: 5vh;
    display: grid;
   grid-template-columns:  1fr 1fr;
   grid-gap: 3vh;

    
}

.film-container2 img {
    min-width: 20vw;
    min-height: 35vh;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    
}

.film-container2 img:hover{
    transform: scale(1.1,1.1);
}

.individual_film{
    display: grid;
}

.individual_film img{
    width: 60vw;
    height: 50vh;
    object-fit: contain;
   justify-self: center;
  transition-duration: 0.5s;
  border-radius: 100px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.individual_film img:hover{
    transform: scale(1.05,1.05);
}


.categorias_title{
    margin-top: 5vh;
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    color: rgb(89, 23, 151);
    
}

.section_cat_container{
display: grid;

}


.cat_container{
    margin-top: 5vh;
    display: grid;
   
    row-gap: 10px;
       
}

.cat_container div{
    grid-template-rows: 1fr 1fr;
}

.cat_container div button{
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    color: rgb(89, 23, 151);
    cursor: pointer;
    background:none;
    border: none;
    font-size: larger;
    grid-template-rows: 1fr 1fr;
}

.categores_name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}




.categories a {
    align-self: center;
text-decoration: none;
font-family: 'Mukta', sans-serif;
    font-weight: lighter;
    color: rgb(89, 23, 151);
}

footer{
    display: grid;
grid-template-rows: 1fr 1fr 1fr;
 width: 100%;
 height:30px ;
 place-content: center ;
 background-color: blueviolet;
}

footer div p{
    font-family: 'Mukta', sans-serif;
grid-row: 3;
color: white;
}


.movie_info_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 18px;
}

.movie_title{
    place-self: center;
    font-family: 'Mukta', sans-serif;
    color: rgb(89, 23, 151);
    font-weight: bolder;
    font-size: 1.7rem;
}

.movie-stars{
    display: flex;
    justify-content: center;
}
.movie-stars img{
    width: 36px;
    height: 36px;
    align-self: top;
    margin-top: 1px;
} 

.movie-stars p{
    align-self: center;
    font-family: 'Mukta', sans-serif;
    color: rgb(89, 23, 151);
    font-weight: bolder;
    font-size: large;
    margin-left: 5px;
}


.movie_info{
    font-family: 'Mukta', sans-serif;
    color: rgb(89, 23, 151);
    margin-top: 5vh;
    grid-column-start: 1;
    grid-column-end: 3;

}

.related_movies_section h1{
 margin-top:20px ;
}

.related_movies_container{
    display: flex;
overflow-x: scroll;
 gap: 5px;
 

}

.related_movies_container img{
    transition-duration: 00.5s;
    width: 20%;
    height: 30%;
    object-fit: contain;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
}




.loading-default{
    display: grid;
    margin-right: 2vw;
    width: 20vw;
    height: 20vh;
    background-color: #782cf2;
    border-radius: 20px;
    background: linear-gradient(87deg, #f1f0f2, #d8bef2);
    background-size: 400% 400%;

    animation: AnimationName 1s ease infinite;
}



@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}



.loading-default-cat{
    display: grid;
    margin-right: 2vw;
    
    width: 40vw;
    height: 5vh;
    background-color: #782cf2;
    border-radius: 20px;
    background: linear-gradient(87deg, #f1f0f2, #d8bef2);
    background-size: 400% 400%;

    animation: AnimationName 1s ease infinite;
}

.trend{
    display: grid;
}
.loadmore{
    margin-top: 2vh;
    text-align: center;
    height: 5vh;
    width: 15vh;
    place-self: center;
    background-color: #782cf2;
    font-family: 'Mukta', sans-serif;
    color: white;
    border:none;
    border-radius: 15px;
    cursor: pointer;

}

.loadmore_container{display: grid;}


.image_button_container{
    display: grid;
grid-template-columns: 1fr ;}



.like_button{
   position: absolute;
   margin: 10px 0 0 10px;
    z-index: 1;
    background-color: blueviolet;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    grid-column-start: 1;
    grid-column-end: 1;
    
    

}

.like_button::before {
    content: "🤍";
}

.like_button_active{
   
    position: absolute;
   margin: 10px 0 0 10px;
    z-index: 1;
    background-color: blueviolet;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    grid-column-start: 1;
    grid-column-end: 1;
    
}

.like_button_active::before{
    content: "❤️";
}

.fav_films{

    place-self: center;
    font-family: 'Mukta', sans-serif;
    color: rgb(89, 23, 151);
    font-weight: bolder;
    font-size: 1.7rem;
}